[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
cryptography = "*"
drf-nested-routers = "*"
pymysql = "*"
django-rest-framework-nested = "*"
djoser = "*"
pillow = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"
django-silk = "*"
django-redis = "*"
gunicorn = "*"
django = "==6.0"
djangorestframework = "==3.16.1"
djangorestframework-simplejwt = "==5.5.1"
django-cors-headers = "==4.9.0"
django-filter = "==25.2"
whitenoise = "==6.11.0"
dj-database-url = "==1.0.0"
psycopg2-binary = "==2.9.9"
python-dotenv = "==1.2.1"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.14"
