[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
cryptography = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
pymysql = "*"
django-rest-framework-nested = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"
django-silk = "*"
django-redis = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.14"
