[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
cryptography = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
pymysql = "*"
django-rest-framework-nested = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.14"
